.account-header {
  background: transparent linear-gradient(180deg, #E7ECEC 0%, #E3EAEA 100%) 0% 0% no-repeat padding-box;
}

.account-header__container {
  @include container;

  //margin: 0 auto;
  //max-width: 1470px;
  //padding: 92px 30px 30px;
  padding-top: 92px;
  padding-bottom: 30px;

  background-image: url("../img/midea-desktop.png");
  background-repeat: no-repeat;
  background-position: right 30px top 0;

  @include retina {
    background-image: url("../img/midea-desktop@2x.png");
    background-size: 690px 320px;
  }
}

b.account-header__greeting {
  display: block;
  margin-bottom: 16px;

  font-weight: 300;
  font-size: 47px;
  line-height: 51px;
}

.account-header__description {
  margin: 0;
  margin-bottom: 126px;
  width: 570px;

  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}

.account-header__dropdown {
  display: none;
}

.account-header__nav-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.account-header__nav-header {
  display: none;
}

.account-header__nav-item {
  margin-right: 50px;
  margin-bottom: 9px;
}

.account-header__nav-item a {
  @include link-reset;

  font-size: 19px;
  line-height: 21px;

  color: #888888;
  opacity: 0.8;

  transition: all 0.2s ease;
  border-bottom: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #00adef;
  }

  &:focus {
    outline: none;
    color: #00adef;
  }

  &:active {
    color: #0054a6;
  }
}

.account-header__nav-item--active a {
  color: #00adef;
  opacity: 1;
}

@include desktop-medium {
  .account-header__container {
    padding-top: 30px;
    padding-bottom: 23px;

    background-image: url("../img/midea-desktop-medium.png");

    @include retina {
      background-image: url("../img/midea-desktop-medium@2x.png");
      background-size: 444px 205px;
    }
  }

  b.account-header__greeting {
    margin-right: 0;
    margin-bottom: 20px;
    width: 48.4%;

    font-size: 37px;
    line-height: 40px;
  }

  .account-header__description {
    width: 48.4%;
    margin-bottom: 60px;

    line-height: 23px;
  }

  .account-header__nav-item {
    margin-right: 35px;

    font-size: 15px;
    line-height: 17px;
  }
}

@include tablet {
  .account-header__container {
    padding: 0;
    padding-top: 30px;

    background-image: url("../img/midea-tablet.png");

    @include retina {
      background-image: url("../img/midea-tablet@2x.png");
      background-size: 336px 250px;
    }
  }

  b.account-header__greeting {
    min-height: 80px;
    padding-left: 32px;
    width: 48%;
    margin-bottom: 15px;
  }

  .account-header__description {
    width: 48%;
    min-height: 95px;
    margin-bottom: 0;
    margin-bottom: 30px;
    padding-left: 32px;

    font-size: 13px;
    line-height: 19px;
  }

  .account-header__dropdown {
    position: relative;

    display: block;
    width: 100%;
    padding-left: 32px;
    padding-top: 15px;
    padding-bottom: 14px;

    text-align: left;

    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #dddddd;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      right: 7%;

      width: 10px;
      height: 10px;
      margin-top: -5px;

      background-image: url("../img/arrow-left.svg");
    }
  }

  .account-header__dropdown-title {
    margin: 0;
    margin-bottom: 2px;

    font-size: 17px;
    line-height: 18px;
  }

  .account-header__dropdown-active {
    margin: 0;

    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #00adef;
  }

  .account-header__nav {
    position: fixed;
    top: 0;
    left: 100%;

    width: 100%;
    height: 1000px;

    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    z-index: 10;

    &.js--show {
      left: 0;
    }
  }

  .account-header__nav-header {
    position: relative;

    display: block;
    margin: 0;
    padding: 15px 0;

    font-size: 17px;
    line-height: 18px;
    text-align: center;

    background-color: #ffffff;
  }

  .account-header__nav-button {
    position: absolute;
    top: 50%;
    right: 7%;

    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-right: -3px;

    border: none;
    background-color: transparent;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 3px;

      width: 10px;
      height: 1px;

      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .account-header__nav-list {
    flex-direction: column;
  }

  .account-header__nav-item {
    position: relative;

    margin: 0;
    height: 50px;

    background-color: #f6f6f6;
    border-top: 1px solid #dddddd;
    opacity: 1;

    &--active {
      color: #000000;
    }

    &:last-child {
      border-bottom: 1px solid #dddddd;
    }
  }

  .account-header__nav-item a {
    display: block;
    width: 100%;
    padding: 17px 7%;

    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #000000;

    &::before {
      content: "";

      position: absolute;
      top: 19px;
      right: 7%;

      width: 10px;
      height: 10px;

      transform: rotate(180deg);
      background-image: url("../img/arrow-left.svg");
    }
  }
}

@include mobile-l {
  .account-header__container {
    padding-top: 73px;

    background-image: url("../img/midea-mobile-large.png");
    background-position: right 32px top 0;

    @include retina {
      background-image: url("../img/midea-mobile-large@2x.png");
      background-size: 192px 210px;
    }
  }

  b.account-header__greeting {
    width: 60%;
    min-height: 64px;
    margin-bottom: 73px;

    font-size: 29px;
    line-height: 32px;
  }

  .account-header__description {
    display: none;
  }
}

@include mobile {
  .account-header__container {
    padding-top: 15px;

    background-image: url("../img/midea-mobile.png");
    background-position: right 50% top 94px;

    @include retina {
      background-image: url("../img/midea-mobile@2x.png");
      background-size: 288px 101px;
    }
  }

  b.account-header__greeting {
    width: 100%;
    padding: 0 16px;
    min-height: 64px;
    margin-bottom: 131px;

    font-size: 29px;
    line-height: 32px;
    text-align: center;
  }

  .account-header__dropdown {
    padding: 16px;
  }

  .account-header__dropdown-title {
    margin-bottom: 1px;

    font-size: 15px;
    line-height: 17px;
  }

  .account-header__dropdown-active {
    font-size: 13px;
    line-height: 15px;
  }

  .account-header__nav-header {
    font-size: 15px;
    line-height: 17px;
  }

  .account-header__nav-item a {
    padding-left: 16px;

    font-size: 13px;
    line-height: 15px;
  }
}
