.page-authorization__container {
  @include container;

  padding-top: 87px;
}

.authorization {
  position: relative;

  display: flex;
  margin: 0 auto;
  max-width: 1170px;

  font-size: 0;

  background-color: #f6f6f6;

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;

    width: 1px;
    height: 360px;
    margin-top: -180px;

    background-color: #dddddd;
  }
}

.authorization__form-wrapper {
  width: 50%;
}

.authorization__form {
  width: 330px;
  margin: 0 auto;
  padding: 62px 0;
}

.authorization__form-title,
.authorization__registration-title {
  margin: 0;
  margin-bottom: 42px;

  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
}

.authorization__form label {
  display: inline-block;
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  &[for="password"] {
    margin-right: 172px;
  }

  &.js--wrong {
    color: #ff0000;
  }
}

.authorization__forgot-password {
  @include link-reset;

  display: inline-block;
  padding-bottom: 4px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #888888;
  text-align: right;

  border-bottom: 1px solid transparent;

  transition: all 0.2s ease;

  &:hover {
    border-color: #bbbbbb;
  }

  &:focus {
    border-color: #bbbbbb;
    outline: none;
  }
}

.authorization__form input {
  width: 100%;
  height: 48px;
  padding: 0 15px;
  margin-bottom: 6px;

  border: 1px solid #e7e7e7;
  border-radius: 5px;

  font-size: 19px;
  line-height: 25px;

  transition: all 0.3s ease;

  // &[name="name"] {
  //   margin-bottom: 18px;
  // }

  // &[name="password"] {
  //   margin-bottom: 42px;
  // }

  &:-moz-focusring {
    outline: none;
    border-color: #00adef;
    box-shadow: none;
  }

  &:invalid {
    outline: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    border-color: #00adef;
    outline: none;
  }

  &.js--wrong-input {
    color: #ff0000;

    border-color: #ff0000;
  }

  &:invalid {
    outline: none;
  }

  // &::-moz-focus-outer,
  // &::-moz-focus-inner {
  //   border: 0;
  //   padding: 0;
  // }
}

.authorization__name-error,
.authorization__password-error {
  margin: 0;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #ff0000;
}

.authorization__name-error {
  margin-bottom: 16px;
}

.authorization__password-error {
  margin-bottom: 42px;
}

.authorization__button {
  width: 100%;
}

.authorization__registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.authorization__registration-link {
  @include link-reset;

  width: 360px;
}

@include tablet {
  .page-authorization__container {
    padding-top: 0;
  }

  .authorization {
    flex-direction: column;

    &::before {
      display: none;
    }
  }

  .authorization__form-wrapper,
  .authorization__registration {
    width: 100%;
  }

  .authorization__form {
    padding: 40px 0 56px;
  }

  .authorization__form-title,
  .authorization__registration-title {
    margin-bottom: 32px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .authorization__registration-title {
    margin-bottom: 16px;
  }

  .authorization__registration {
    padding: 40px 0 72px;

    border-top: 1px solid #dddddd;
  }
}

@include mobile-l {
  .authorization::before {
    top: 412px;
  }

  .authorization__form {
    max-width: 292px;
    padding: 32px 0 48px;
  }

  .authorization__form label[for="password"] {
    margin-right: 134px;
  }

  .authorization__registration {
    padding: 32px 0 64px;
  }

  .authorization__registration-link {
    width: 292px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 13px;
  }
}

@include mobile {

  .authorization__form-title,
  .authorization__registration-title {
    font-size: 20px;
    line-height: 24px;
  }
}
