.contacts {
  display: flex;
  justify-content: space-between;

  max-width: 1170px;
  min-height: 642px;
  margin: 0 auto;
  padding: 50px 119px;

  background-color: #f6f6f6;
  border: 1px solid #dddddd;

  &.hidden {
    display: none;
  }
}

.contacts__product-card {
  min-height: 542px;
}

.contacts .product-card__registration-date {
  margin-bottom: 25px;
}

.contacts__title {
  display: none;
}

.contacts__message {
  max-width: 450px;
  padding-top: 30px;
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
}

.contacts__description {
  max-width: 450px;
  margin: 0;
  margin-bottom: 24px;

  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.contacts__selected-phone-title {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
}

.contacts__selected-phone {
  display: inline-block;
  margin: 0;
  margin-bottom: 23px;
  margin-right: 20px;

  font-size: 17px;
  line-height: 18px;
}

.contacts__selected-phone-change {
  padding: 0;

  font-size: 15px;
  line-height: 17px;
  color: #00adef;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    border-bottom: 1px solid #00adef;
    outline: none;
  }
}

.contacts label {
  display: inline-block;
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  &[for='phone-code'].js--error {
    color: #ff0000;
  }
}

.contacts input {
  display: block;
  width: 330px;
  height: 48px;
  padding-left: 15px;
  margin-bottom: 50px;

  border: 1px solid #e7e7e7;
  border-radius: 5px;

  font-size: 19px;
  line-height: 23px;

  &:hover,
  &:focus {
    border-color: #00adef;
    outline: none;
  }

  &.js--wrong-input {
    border-color: #ff0000;
  }

  &::-webkit-input-placeholder {
    color: #888888;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: #888888;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: #888888;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #888888;
    opacity: 1;
  }

  &[name='phone-code'] {
    margin-bottom: 0;
  }

  &[name='phone-code'].js--wrong-input {
    border-color: #ff0000;
    color: #ff0000;
  }
}

.contacts__code-error-message {
  max-width: 330px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 45px;

  font-size: 13px;
  line-height: 15px;
  color: #ff0000;
}

.contacts__button {
  width: 330px;
}

.contacts__message {
  padding-right: 70px;
}

@include desktop-medium {
  .contacts {
    min-height: 600px;
    padding: 50px 0;
  }

  .contacts__product-card {
    width: 286px;
    min-height: 500px;
    margin-right: 8.6%;
    align-self: flex-start;
  }

  .contacts__product-card .product-card__image-container {
   width: 230px;
   height: 172px;
   margin-bottom: 30px;
  }

  .contacts__product-card .product-card__change {
    width: 239px;
  }

  .contacts__left-wrapper {
    padding-right: 30px;
    margin-left: 8.6%;
  }

  .contacts__description {
    line-height: 23px;
  }

  .contacts__message {
    line-height: 34px;
  }
}

@include tablet {
  .contacts {
    flex-direction: column;
    align-items: center;
  }

  .contacts__left-wrapper {
    width: 74.1%;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
  }

  .contacts__message {
    max-width: none;
    padding: 0;
  }

  .contacts__description {
    max-width: none;
  }

  .contacts__product-card {
    margin: 0 auto;
  }
}

@include mobile-l {
  .contacts__left-wrapper {
    width: 87.1%;
  }

  .contacts__code {
    text-align: center;
  }

  .contacts__code-form {
    max-width: 416px;
    margin: 0 auto;
  }

  .contacts__phone-form {
    max-width: 416px;
    margin: 0 auto;
  }

  .contacts__title {
    display: block;
    margin: 0;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 27px;
    line-height: 29px;
  }

  .contacts__message {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
  }

  .contacts__description {
    width: 92%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  .contacts label {
    display: block;

    text-align: left;
  }

  .contacts input {
    width: 100%;
  }

  .contacts__button {
    margin: 0 auto;
  }

  .contacts__product-card {
    width: 416px;
  }

  .contacts__product-card .product-card__change {
    width: 100%;
  }
}

@include mobile {
  .contacts__left-wrapper {
    width: 90.6%;
  }

  .contacts__title {
    font-size: 19px;
    line-height: 21px;
  }

  .contacts__message {
    font-size: 15px;
    line-height: 17px;
  }

  .contacts__description {
    padding: 0 5px;
    margin-bottom: 27px;

    font-size: 13px;
  }

  .contacts__button {
    width: 100%;
  }

  .contacts__product-card {
    width: 90.6%;
  }
}
