.my-products__container {
  @include container;
  //margin: 0 auto;
  //max-width: 1470px;
  //padding: 100px 30px 30px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.my-products__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 47px;
  line-height: 51px;

  text-align: center;
}

.my-products__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.my-products__list li {
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.my-products__item {
  //width: 330px;
  min-height: 594px;
  //padding: 30px 24px;

  //text-align: center;

  //border: 1px solid #cbcbcb;
  //border-radius: 6px;
}

// .my-products__image-container {
//   margin-bottom: 38px;

//   display: inline-block;
//   width: 275px;
//   height: 206px;
// }

// .my-products__item p {
//   margin: 0;

//   font-weight: 300;
//   font-size: 15px;
//   line-height: 16px;
// }

// .my-products__item .my-products__name {
//   margin-bottom: 26px;

//   font-weight: 400;
//   font-size: 17px;
//   line-height: 18px;
// }

// .my-products__item .my-products__name-title {
//   margin-bottom: 13px;
// }

// .my-products__item .my-products__serial-number-title,
// .my-products__item .my-products__registration-date-title,
// .my-products__item .my-products__end-of-warranty-title {
//   margin-bottom: 7px;

//   color: #888888;
// }

// .my-products__item .my-products__serial-number,
// .my-products__item .my-products__registration-date {
//   margin-bottom: 13px;
// }

// .my-products__item .my-products__end-of-warranty {
//   margin-bottom: 26px;
// }

// .my-products__delete-link {
//   @include link-reset;
// }

.my-products__add-link {
  @include link-reset;

  position: relative;

  display: block;
  width: 330px;
  min-height: 594px;
  padding: 327px 80px 20px;

  font-size: 17px;
  line-height: 21px;
  color: #888888;
  text-align: center;

  border: 1px solid #cbcbcb;
  border-radius: 6px;

  transition: all 0.2s ease;

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 50%;

    background-color: #888888;
  }

  &::before {
    top: 241px;

    width: 4px;
    height: 50px;
    margin-left: -2px;
  }

  &::after {
    top:264px;

    width: 50px;
    height: 4px;
    margin-left: -25px;
  }

  &:hover {
    color: #00adef;
    border-color: #00adef;
    background-color: rgba(0, 173, 239, 0.1);
  }

  &:hover::before,
  &:hover::after {
    background-color: #00adef;
  }
}

@include desktop-catalog {
  .my-products__item {
    width: 286px;
    min-height: 553px;
  }

  .my-products__list {
    width: 918px;
    margin: 0 auto;
  }

  .my-products__list li {
    &:nth-child(n) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .my-products__item .product-card__image-container {
    width: 230px;
    height: 172px;
    margin-bottom: 31px;
  }

  .my-products__item .product-card__end-of-warranty {
    margin-bottom: 24px;
  }

  .my-products__item .product-card__delete-link {
    padding: 0 20px;
  }

  .my-products__add-link {
    width: 286px;
    min-height: 553px;
    padding: 307px 62px 20px;

    &::before {
      top: 220px;
    }

    &::after {
      top:243px;
    }
  }
}

@include tablet {
  .my-products__container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .my-products__item {
    width: 336px;
  }

  .my-products__list {
    width: 704px;
  }

  .my-products__list li {
    &:nth-child(n) {
      margin-right: 32px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .my-products__add-link {
    width: 336px;
  }
}

@include mobile-l {
  .my-products__container {
    padding-top: 50px;
  }

  .my-products__title {
    font-size: 29px;
    line-height: 32px;
  }

  .my-products__item {
    width: 416px;
  }

  .my-products__list {
    width: 100%;
  }

  .my-products__list li {
    &:nth-child(n) {
      margin: 0 auto 50px;
    }

    &:nth-last-child(2) {
      margin-bottom: 15px;
    }
  }

  .my-products__add-link {
    width: 416px;
    min-height: 135px;
    padding: 48px 27px 48px 129px;

    text-align: left;

    color: #00adef;
    border-color: #00adef;
    background-color: rgba(0, 173, 239, 0.1);

    &::before {
      top: 50%;
      left: 54px;

      margin-top: -25px;
      margin-left: 0;
      background-color: #00adef;
    }

    &::after {
      top: 50%;
      left: 31px;

      margin-top: -2px;
      margin-left: 0;
      background-color: #00adef;
    }
  }
}

@include mobile {
  .my-products__container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .my-products__item {
    width: 288px;
  }

  .my-products__add-link {
    width: 288px;

    font-size: 15px;
    line-height: 17px;
  }
}
