.personal-data {
  max-width: 1170px;
  min-height: 605px;
  margin: 0 auto;
  padding: 50px 120px;

  background-color: #f6f6f6;
  border: 1px solid #dddddd;

  &.hidden {
    display: none;
  }
}

.personal-data__title {
  display: none;
}

.personal-data__description {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.personal-data form {
  font-size: 0;
  line-height: 0;
}

.personal-data__form label:not([for="agreement"]) {
  display: inline-block;
  margin-bottom: 25px;

  &:not(:nth-of-type(3)) {
    margin-right: 26px;
  }
}

.personal-data__form p {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15px;

  &.js--error {
    color: #ff0000;
  }
}

.personal-data__form input[type="text"],
.personal-data__form input[type="email"] {
  width: 292px;
  height: 48px;
  padding: 0 15px;

  border: 1px solid #e7e7e7;
  border-radius: 5px;

  font-size: 15px;
  line-height: 16px;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border-color: #00adef;
    outline: none;
  }

  &.js--wrong-input {
    border-color: #ff0000;
  }
}

.personal-data__agreement-wrapper {
  padding-left: 48px;
  margin-bottom: 50px;
}

.personal-data__agreement-wrapper input:checked + .personal-data__text-wrapper label::before {
  border: none;
  background-color: transparent;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}

.personal-data__text-wrapper {
  position: relative;

  font-size: 13px;
  line-height: 15px;

  &.js--error {
    color: #ff0000;
  }
}

.personal-data__agreement-wrapper label {
  font-weight: 300;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -48px;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    border-radius: 2px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
  }

  &:hover::before {
    cursor: pointer;
  }

  &.js--wrong-input::before {
    border-color: #ff0000;
  }
}

.personal-data__agreement-wrapper a {
  @include link-reset;

  display: block;

  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.personal-data__button {
  width: 330px;
  margin: 0 auto;
}

@include desktop-medium {
  .personal-data {
    padding-left: 0;
    padding-right: 0;
  }

  .personal-data__form {
    width: 83%;
    margin: 0 auto;
  }

  .personal-data__form label:not([for="agreement"]) {
    width: 31.6%;
  }

  .personal-data__form label:not([for=agreement]):not(:nth-of-type(3)) {
    margin-right: 2.6%;
  }

  .personal-data__form input[type=email], .personal-data__form input[type=text] {
    width: 100%;
  }

  .personal-data__description {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@include tablet {
  .personal-data__description {
    width: 74.1%;
    margin-bottom: 50px;
  }

  .personal-data__form {
    width: 74.1%;
  }

  .personal-data__form label:not([for="agreement"]) {
    width: 46.9%;
  }

  .personal-data__form label:not([for=agreement]):nth-of-type(3n+1) {
    margin-right: 6.2%;
  }

  .personal-data__form label:not([for=agreement]):nth-of-type(2),
  .personal-data__form label:not([for=agreement]):nth-of-type(5) {
    margin-right: 0;
  }

  .personal-data__form label:not([for=agreement]):nth-of-type(3) {
    margin-right: 7%;
  }
}

@include mobile-l {
  .personal-data__title {
    display: block;
    width: 87.1%;
    margin: 0 auto;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 27px;
    line-height: 29px;
    text-align: center;
  }

  .personal-data__description {
    width: 87.1%;
    margin-bottom: 54px;

    text-align: center;
  }

  .personal-data__form {
    width: 87.1%;
  }

  .personal-data__form label:not([for=agreement]):nth-of-type(n) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .personal-data__form label:not([for=agreement]):last-of-type {
    margin-bottom: 22px;
  }
}

@include mobile {
   .personal-data__title {
     width: 90%;

     font-size: 19px;
     line-height: 21px;
   }

   .personal-data__description {
     width: 90%;
     margin-bottom: 27px;

     font-size: 13px;
   }

   .personal-data__form {
     width: 90%;
   }

   .personal-data__agreement-wrapper {
     margin-bottom: 52px;
   }

   .personal-data__button {
     width: 100%;
     padding: 0 20px;
   }
}
