.product-data {
  max-width: 1170px;
  min-height: 512px;
  margin: 0 auto;
  padding: 50px 119px;

  background-color: #f6f6f6;
  border: 1px solid #dddddd;

  &.hidden {
    display: none;
  }
}

.product-data__title {
  display: none;
}

.product-data__description {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.product-data__description-break {
  display: none;
}

.product-data__form {
  position: relative;

  font-size: 0;
}

.product-data__input-wrapper {
  position: relative;

  margin-bottom: 50px;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 295px;

    width: 16px;
    height: 1px;

    background-color: #000000;
  }

  &::after {
    content: "";

    position: absolute;
    top: 24px;
    right: 295px;

    width: 16px;
    height: 1px;

    background-color: #000000;
  }
}

label[for="serial-number-1"] {
  display: block;
  margin-bottom: 25px;

  font-size: 0;
  line-height: 0;
}

label[for="serial-number-1"] p {
  display: inline-block;
  margin: 0;
  margin-right: 20px;

  vertical-align: top;

  font-weight: 300;
  font-size: 19px;
  line-height: 26px;
}

label[for="serial-number-1"] button {
  min-width: 26px;
  height: 26px;

  background-color: transparent;
  background-image: url(../img/info.svg);
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:active {
    outline: none;
  }
}

.product-data__serial-number {
  width: 283px;
  height: 48px;

  font-weight: 300;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #dddddd;
  border-radius: 2px;

  transition: all 0.3s ease;

  &:first-of-type,
  &:nth-of-type(2) {
    margin-right: 40px;
  }

  &:hover,
  &:focus {
    border-color: #00adef;
    outline: none;
  }

  &.js--wrong-input {
    border-color: #ff0000;
  }
}

label[for="purchase-date"] {
  display: block;
  margin-bottom: 25px;

  font-weight: 300;
  font-size: 19px;
  line-height: 21px;
}

.product-data__purchase-date-wrapper {
  position: relative;

  margin-bottom: 50px;
  width: 100%;
}

.product-data__purchase-date {
  width: 100%;
  height: 48px;
  padding-left: 15px;

  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;

  border: 1px solid #dddddd;
  border-radius: 2px;

  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border-color: #00adef;
    outline: none;
  }

  &.js--wrong-input {
    border-color: #ff0000;
  }
}

.product-data__calendar {
  position: absolute;
  top: 11px;
  right: 15px;

  width: 26px;
  height: 26px;

  background-color: transparent;
  border: none;
  background-image: url("../img/calendar.svg");
}

.product-data__submit {
  width: 330px;
  margin: 0 auto;
}

.popup-warranty {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  transition: 0.2s ease;
  overflow: auto;

  &.hidden {
    display: block;
    visibility: hidden;
    opacity: 0;
  }
}

.popup-warranty__overlay {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.1);
}

.popup-warranty__content {
  position: absolute;
  top: 30vh;
  left: 50%;

  width: 1170px;
  min-height: 320px;
  margin-left: -585px;
  //margin-top: -160px;
  margin-bottom: 50px;
  padding: 50px 120px;

  background-color: #ffffff;
}

.popup-warranty__title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 27px;
  line-height: 29px;
}

.popup-warranty__image-box {
  display: inline-block;
  width: 450px;
  height: 140px;
  margin-right: 25px;

  background-color: #f6f6f6;
  border: 1px solid #dddddd;
}

.popup-warranty__description {
  display: inline-block;
  margin: 0;
  width: 450px;
  min-height: 140px;
  padding-top: 50px;

  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  vertical-align: top;
}

.popup-warranty__close {
  position: absolute;
  right: 0;
  top: -50px;

  width: 31px;
  height: 31px;

  background-color: transparent;
  border: none;
  background-image: url("../img/close.svg");

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    outline: none;
  }
}

@include desktop-medium {
  .product-data {
    padding: 50px 0;
  }

  .product-data__form {
    width: 83%;
    margin: 0 auto;
  }

  .product-data__description {
    line-height: 21px;
  }

  .product-data__input-wrapper {
    &::before {
      left: 32.6%;
      margin-left: -8px;
    }

    &::after {
      left: 67.4%;
      margin-left: -8px;
    }
  }

  .product-data__serial-number {
    width: 30.4%;

    &:first-of-type,
    &:nth-of-type(2) {
      margin-right: 4.4%;
    }

    &:hover,
    &:focus {
      border-color: #00adef;
      outline: none;
    }

    &.js--wrong-input {
      border-color: #ff0000;
    }
  }

  .popup-warranty__content {
    width: 918px;
    margin-left: -459px;
    padding: 50px 79px;
  }

  .popup-warranty__description {
    width: 280px;
    padding-top: 25px;
  }
}

@include tablet {
  .product-data__form {
    width: 74.1%;
    margin: 0 auto;
  }

  .popup-warranty__content {
    top: 20vh;

    width: 704px;
    min-height: 440px;
    margin-left: -352px;
    padding: 50px 92px;
  }

  .popup-warranty__title {
    line-height: 30px;
  }

  .popup-warranty__image-box {
    width: 520px;
    height: 163px;
    margin-right: 0;
  }

  .popup-warranty__description {
    width: 520px;
    min-height: auto;
  }
}

@include mobile-l {
  .product-data {
    border-left: none;
    border-right: none;
  }

  .product-data__title {
    display: block;
    margin: 0;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
  }

  .product-data__form {
    width: 86.7%;
  }

  .product-data__serial-number,
  .product-data__purchase-date {
    font-size: 15px;
    line-height: 16px;
  }

  .product-data__description {
    margin-bottom: 30px;

    text-align: center;
    line-height: 23px;
  }

  .product-data__description-break {
    display: block;
  }

  .product-data label[for="serial-number-1"] {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-data label[for="serial-number-1"] p,
  .product-data label[for="purchase-date"] {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
  }

  .product-data label[for="purchase-date"] {
    margin-bottom: 20px;
  }

  .product-data__input-wrapper {
    &::before {
      left: 32.6%;

      width: 10px;
      margin-left: -5px;
    }

    &::after {
      left: 67.4%;

      width: 10px;
      margin-left: -5px;
    }
  }

  .popup-warranty__content {
    width: 416px;
    min-height: 350px;
    margin-left: -208px;
    padding: 50px;
  }

  .popup-warranty__title {
    margin-bottom: 25px;

    font-size: 21px;
    line-height: 25px;
    text-align: center;
  }

  .popup-warranty__image-box {
    width: 316px;
    height: 99px;
  }

  .popup-warranty__description {
    width: 316px;

    font-size: 13px;
    line-height: 17px;
    text-align: center;
  }
}

@include mobile {
  .product-data__form {
    width: 90%;
  }

  .product-data__title {
    margin-bottom: 33px;

    font-size: 19px;
    line-height: 21px;
  }

  .product-data__description {
    font-size: 13px;
    line-height: 22px;
  }

  .product-data label[for="serial-number-1"] p {
    margin-right: 0;
    padding-right: 10px;
  }

  .product-data__submit {
    width: 288px;
  }

  .product-data__input-wrapper {
    &::before {
      left: 32.6%;

      width: 5px;
      margin-left: -2px;
    }

    &::after {
      left: 67.4%;

      width: 5px;
      margin-left: -2px;
    }
  }

  .popup-warranty__content {
    width: 288px;
    min-height: 308px;
    margin-left: -144px;
    padding: 25px;
  }

  .popup-warranty__title {
    font-size: 19px;
    line-height: 21px;
  }

  .popup-warranty__image-box {
    width: 238px;
    height: 75px;
  }

  .popup-warranty__description {
    width: 238px;
    padding-top: 27px;
  }
}
