.product-registration.js--product-data .product-data {
    display: block;
}

.product-registration.js--contacts .contacts {
  display: flex;
}

.product-registration.js--personal-data .personal-data {
  display: block;
}

.product-registration.js--registration-end .registration-end {
  display: block;
}

.product-registration__container {
  @include container;

  max-width: 1516px;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 33px;
  padding-bottom: 110px;
}

.breadcrumbs {
  margin-bottom: 80px;

  font-size: 0;
}

.breadcrumbs__link {
  @include link-reset;

  position: relative;

  font-size: 15px;
  line-height: 16px;

  color: #888888;

  &--active {
    color: #00adef;
  }

  &:not(:last-child) {
    margin-right: 28px;
  }

  &:not(:last-child)::before {
    content: "/";

    position: absolute;
    top: 0;
    right: -18px;
  }

  &:hover {
    color: #00adef;
  }
}

.product-registration__navigation {
  display: flex;
  width: 100%;

  margin-bottom: 80px;
}

.product-registration__navigation-item {
  position: relative;

  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }

  // &:first-child::before,
  // &:nth-child(2)::before {
  //   content: "";

  //   position: absolute;
  //   top: 22px;
  //   left: 50%;

  //   width: 50%;
  //   height: 1px;
  //   margin-left: 35px;

  //   background-color: #dddddd;
  // }

  // &:nth-child(2)::after,
  // &:last-child::before {
  //   content: "";

  //   position: absolute;
  //   top: 22px;
  //   right: 50%;

  //   width: 50%;
  //   height: 1px;
  //   margin-right: 35px;

  //   background-color: #dddddd;
  // }

  &:nth-child(2)::before,
  &:last-child::before {
    content: "";

    position: absolute;
    top: 22px;
    right: 50%;

    width: calc(100% - 40px);
    height: 1px;
    margin-right: 35px;

    background-color: #dddddd;
  }

  &.js--active .product-registration__navigation-number {
    background-color: #00adef;
  }

  &.js--active .product-registration__navigation-name {
    color: #000000;
  }

  &.js--active::before {
    background-color: #00adef;
  }

  &.js--checked .product-registration__navigation-number {
    font-size: 0;
  }

  &.js--checked .product-registration__navigation-number::after {
    content: "";

    position: absolute;
    top: 17px;
    left: 14px;

    width: 16px;
    height: 7px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(-45deg);
  }
}

.product-registration__navigation-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 23px;
  color: #ffffff;

  background-color: #dddddd;
  border-radius: 50%;
}

.product-registration__navigation-name {
  margin: 0;

  font-size: 19px;
  line-height: 21px;
  color: #888888;
}

@include desktop-medium {
  .product-registration__container {
    padding-top: 50px;
    padding-bottom: 68px;
  }
}

@include tablet {
  .product-registration__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 80px;
  }

  .product-registration__navigation-item {
    &:first-child,
    &:last-child {
      width: 35%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:not(:last-child) {
      margin-right: 5%;
    }

    &:nth-child(2)::before {
      width: calc(162.5% - 70px);
    }

    &:last-child::before {
      width: calc(92.8% - 70px);
    }
  }

  .product-registration__navigation-name {
    margin: 0;

    font-size: 17px;
    line-height: 18px;
    color: #888888;
  }
}

@include mobile-l {
  .product-registration__container {
    padding-left: 0;
    padding-right: 0;
  }

  .breadcrumbs {
    padding: 0 32px;
    margin-bottom: 50px;
  }

  .product-registration__navigation {
    width: calc(100% - 64px);
    margin: 0 auto 30px;
  }

  .product-registration__navigation-item {
    &:nth-child(n) {
      width: 33.33%;
      margin-right: 0;
    }

    &:first-child {
      align-items: flex-start;
    }

    &:last-child {
      align-items: flex-end;
    }

    &:nth-child(2)::before {
      width: calc(150% - 84px);
      margin-right: 31px;
    }

    &:last-child::before {
      left: auto;
      right: 53px;

      width: calc(150% - 84px);
      margin-right: 0;
    }
  }

  .product-registration__navigation-name {
    display: none;
  }

  .product-registration__navigation-number {
    margin: 0;
  }
}

@include mobile {
  .product-registration__container {
    padding-top: 0;
  }

  .product-registration__navigation {
    margin-bottom: 25px;
  }

  .product-registration__navigation-item {
    &:nth-child(2)::before {
      top: 12px;

      width: calc(150% - 48px);
      margin-right: 18px;
    }

    &:last-child::before {
      top: 12px;
      right: 30px;

      width: calc(150% - 48px);
    }

    &.js--checked .product-registration__navigation-number::after {
      top: 9px;
      left: 7px;

      width: 9px;
      height: 4px;
      border-bottom: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
    }
  }

  .product-registration__navigation-number {
    width: 24px;
    height: 24px;

    font-size: 17px;
    line-height: 18px;
  }

  .breadcrumbs {
    padding: 17px 16px 16px;
    margin-bottom: 25px;

    background-color: #f6f6f6;
  }

  .breadcrumbs__link {
    &:first-child,
    &:last-child {
      display: none;
    }

    &:nth-child(2) {
      padding-left: 25px;

      font-size: 13px;
      line-height: 15px;
    }

    &:nth-child(2)::before {
      content: "";

      top: 2px;
      left: 0;

      width: 10px;
      height: 10px;

      background-image: url("../img/arrow-left.svg");
    }
  }
}
